[submodule "manylives-parent"]
	path = manylives-parent
	url = git@github.com:stickycode/manylives.git
        branch = manylives-parent
[submodule "manylives-a"]
	path = manylives-a
	url = git@github.com:stickycode/manylives.git
	branch = manylives-a
